.navbar {
  display: flex;
  justify-content: space-between;
  padding: 18px 40px;
  background: white;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  position: sticky;
  top: 0;
}

.logo {
  font-weight: bold;
  font-size: 22px;
}

.nav-links {
  display: flex;
  gap: 25px;
  list-style: none;
  font-size: 16px;
  cursor: pointer;
}
